body,
html {
  height: 100%;
  margin: 0;
}

.container {
  text-align: center;
  height: 100%;
  
  box-sizing: border-box;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #006157;
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}

.sidebar {
  display: block;
  background-color: #005B94;
  grid-row: 1 / 5;
}

.sidebar img{
  width: 50px;
}

.your-projects {
  background-color: dimgray;
  grid-row: 2 / 5;
}

.your-projects p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.right-sidebar {
    background-color: #D8D8D8;
    grid-row: 2 / 5;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 4fr;
}

.project-card{
  background-color: #006157;
  border-radius: 15px;
}

.project-card-container{
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 90%;
}

.announcements-card-container{
  display: grid;
  gap: 10px;
  grid-template-rows: 1fr 1fr;
  height: 90%;
}